/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

// Layers

#define QW_M    0       // Main
#define QW_L    1       // Lower
#define QW_R    2       // Raise
#define QC_F    3       // Firmware

// Short versions

#define WIN_SC  LG(LS(S))
#define BT0     BT_SEL 0
#define BT1     BT_SEL 1
#define BT2     BT_SEL 2
#define BT3     BT_SEL 3
#define BT4     BT_SEL 4
#define BOOTLDR     &bootloader
#define VOLUP   C_VOL_UP
#define VOLDN   C_VOL_DN
#define VOLMT   C_MUTE
#define RGBON   &rgb_ug RGB_ON
#define RGBOFF  &rgb_ug RGB_OFF
#define RGBTOG  &rgb_ug RGB_TOG
#define RGBHUI  &rgb_ug RGB_HUI
#define RGBHUD  &rgb_ug RGB_HUD
#define RGBSAI  &rgb_ug RGB_SAI
#define RGBSAD  &rgb_ug RGB_SAD
#define RGBBRI  &rgb_ug RGB_BRI
#define RGBBRD  &rgb_ug RGB_BRD
#define RGBEFF  &rgb_ug RGB_EFF

/*
 * Assign the cs-gpios pin to 4.
 * Uncomment these next few lines if implementing nice!view Displays
 */

nice_view_spi: &spi0 { cs-gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>; };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_win_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_win_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3     &kp N4        &kp N5                                 &kp N6           &kp N7     &kp N8      &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E      &kp R         &kp T                                  &kp Y            &kp U      &kp I       &kp O    &kp P     &kp BACKSLASH
&kp CAPS   &kp A   &kp S   &kp D      &kp F         &kp G                                  &kp H            &kp J      &kp K       &kp L    &kp SEMI  &kp ENTER
&kp LSHFT  &kp Z   &kp X   &kp C      &kp V         &kp B       &kp C_MUTE   &kp C_PP      &kp N            &kp M      &kp COMMA   &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LCTRL  &kp LEFT_GUI  &lt 1 SPACE  &lt 2 LALT  &lt 2 RIGHT_ALT  &lt 1 RETURN  &kp RCTRL  &kp C_NEXT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        lower_win_layer {
            display-name = "Lower";
            bindings = <
&kp GRAVE  &kp F1           &kp F2           &kp F3           &kp F4           &kp F5                      &kp F6     &kp F7    &kp F8    &kp F9     &kp F10  &kp F11
&trans     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_SUBTRACT  &trans                      &kp PG_UP  &kp HOME  &kp UP    &kp END    &trans   &kp F12
&trans     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS      &trans                      &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &trans   &trans
&trans     &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans           &trans   &trans     &trans  &trans     &trans    &trans    &trans     &trans   &trans
                                             &trans           &kp KP_NUMBER_0  &kp DOT  &kp ENTER  &trans  &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        raise_win_layer {
            display-name = "Upper";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0                  &bt BT_SEL 1     &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans                        &trans           &trans        &trans        &trans        &sys_reset  &bootloader
&trans  &trans  &trans  &trans  &trans  &trans                        &rgb_ug RGB_TOG  &trans        &trans        &trans        &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &trans           &trans        &trans        &trans        &trans      &trans
                        &trans  &trans  &trans        &trans  &trans  &trans           &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
